/* ---------------- [ Reset ] ---------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, 
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, 
section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; outline: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html { display: block; }
body { background: rgb(253,253,253); line-height: 1; margin: 0; font-family: "Segoe UI", "微软雅黑", "Microsoft Jhenghei", sans-serif; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
img { width: auto; height: auto; }

/* ---------------- [ Main ] ---------------- */
.container {
    display: block;
    margin: 10% auto 0;
    overflow: hidden;
    text-align: center;
}
.player {}
.cd {
    width: 250px; /* height: 250px; */
    margin: 0 auto;
}
@-webkit-keyframes rotate { from {-webkit-transform: rotate(0deg) } to {-webkit-transform: rotate(360deg) } }
@-moz-keyframes rotate { from {-moz-transform: rotate(0deg) } to {-moz-transform: rotate(359deg) } }
@-o-keyframes rotate { from {-o-transform: rotate(0deg) } to {-o-transform: rotate(359deg) } }
@keyframes rotate { from {transform: rotate(0deg) } to {transform: rotate(359deg) } }
.paused {
    -webkit-animation-play-state: paused!important;
       -moz-animation-play-state: paused!important;
        -ms-animation-play-state: paused!important;
         -o-animation-play-state: paused!important;
            animation-play-state: paused!important;
}
.playing {
    -webkit-animation: rotate 30s linear infinite;
       -moz-animation: rotate 30s linear infinite;
         -o-animation: rotate 30s linear infinite;
            animation: rotate 30s linear infinite;
}
#album {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
}
.control {
    position: fixed;
    top: 5%;
    margin: 0 0 0 20px;
    z-index: 999;
    -webkit-transition: linear opacity .3s;
       -moz-transition: linear opacity .3s;
         -o-transition: linear opacity .3s;
            transition: linear opacity .3s;
}
.control i {
    background: rgba(0,0,0,0.3);
    padding: 20px;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    color: rgba(255,255,255,0.9);
    font-size: 1.2em;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: linear .3s;
       -moz-transition: linear .3s;
         -o-transition: linear .3s;
            transition: linear .3s;
}
.control i:hover {
    background: rgba(0,0,0,0.6);
    color: rgba(255,255,255,1);
    cursor: pointer;
}
.middle, .center, .start {
    display: table-cell;
    vertical-align: middle;
}
.cd:hover .center { opacity: 1; }
.cd .start {
    position: absolute; 
    top: 0; 
    margin-top: 100px;
    margin-left: 104px;
}
.cd .start .fa-play, .cd .start .fa-pause {
    color: rgba(255,255,255,0.6);
    font-size: 54px;
}
.cd .start .fa-play:hover, .cd .start .fa-pause:hover {
    color: rgba(255,255,255,0.8);
    cursor: pointer;
}
.cd .center {
    position: absolute;
    top: 0;
    margin-top: 10%;
    width: 250px;
    height: 250px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: opacity linear.4s;
       -moz-transition: opacity linear.4s;
         -o-transition: opacity linear.4s;
            transition: opacity linear.4s;
    box-shadow: inset 0 0 15px 3px rgba(0, 0, 0, 0.7);
}
.progress {
    display: block;
    height:3px;
    margin-top: 20px;
    width: 100%;
    background: #ddd;
    opacity: 1;
}
.progress .current {
    position: relative;
    display: block;
    width: 0%;
    height: 100%;
    background:  #666;
    -webkit-transition:.5s ease;
       -moz-transition:.5s ease;
         -o-transition:.5s ease;
            transition:.5s ease;
}
.title {
    margin-top: 15px;
    position: relative;
    z-index: -99;
    color: #222;
}
.title h1 { font-size: 18px; }
.title h1:before { content: '「'; }
.title h1:after { content: '」'; }
.title h2 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}